* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  background-color: rgba(255, 112, 123, 0.5);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 50px solid rgba(55, 5, 55, 0.1);
}

.container h1 {
  color: white;
}

.container .bank_details {
  list-style: none;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .bank_details li {
  color: black;
  text-transform: uppercase;
}
